.back-button {
  margin: 130px 0 0 7% !important;
}

.country-info {
  margin: 60px 7% 0 7%;
  display: flex;
  justify-content: flex-start;
  gap: 120px;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 60px;
  }

  @media screen and (max-width: 1200px) and (min-width: 900px) {
    gap: 40px;
  }

  @media screen and (max-width: 900px) and (min-width: 600px) {
    align-items: center;
  }

  &__details {
    &__title {
      margin-bottom: 20px;
    }
  }

  & img {
    width: 500px;
    height: 325px;
    box-shadow: 0px 0px 7px 2px hsl(0deg 0% 0% / 12%);

    @media screen and (max-width: 600px) {
      width: 100%;
      height: 230px;
    }
  }

  &__detail-container {
    display: flex;
    gap: 150px;
    margin-bottom: 50px;

    @media screen and (max-width: 1200px) and (min-width: 900px) {
      gap: 10px;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 45px;
    }

    &__block {
      display: flex;
      row-gap: 7px;
      flex-direction: column;
    }
  }

  &__borders {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }

    & h2 {
      font-size: 15px;

      @media screen and (max-width: 600px) {
        margin-bottom: 10px;
      }
    }

    &__border-countries {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-left: 15px;
      flex-wrap: wrap;

      @media screen and (max-width: 600px) {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
}
