.cards {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  margin: 50px 7% 0 7%;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__not-found {
    text-align: center;
    color: rgba(196, 44, 44, 0.575);
    font-weight: 700;
  }
}

.filtering-container {
  padding-top: 130px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    padding-top: 110px;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
  }
}
